body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

.body-margin {
    margin-top: 60px;
}

.body-subTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-html-navigation-buttons {
    margin-bottom: 20px;
}

.input-field {
    margin: 6px;
}